.nav {
    font-family: "Inconsolata", monospace;
    margin-top: 4rem;
    margin-left: 7.7rem;
    text-transform: uppercase;
  }

  .display {
    margin-top: 10rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32.5rem, 1fr));
      &__img > img {
        width: 100%;
        margin-bottom: 10rem;
      }
    
      &__content {
        margin-left: 5rem;
    
        &--info {
          font-size: 6rem;
          line-height: 1.2;
    
        }
        &--text {
          margin-top: 1.5rem;
          font-family: "Space Mono", monospace;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.7;
          width: 40rem;
        }
      }
    }
  
.footer > p {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 1.7rem;
    line-height: 1.7rem;
    letter-spacing: 0em;
  }
  

